<!DOCTYPE html>
<html>
<head>
  <title>Wechat Validator</title>
  <%= stylesheet_link_tag    "wechat/validator/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'wechat/validator/application' %>

</body>
</html>
